<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="esolutions.com.esdatabaselib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".example.activity.DatabaseActivity"></activity>
        <activity android:name=".example.activity.BeginActivity">
        </activity>
        <activity android:name=".example.activity.SharePrefActivity"></activity>
    </application>

</manifest>